<div class = 'app-content'>
  <div class = 'profile-wrapper full-width'>
    <div class='top-row-wrapper'>
      <div class='top-row-search-bar'>
      </div>
      <div class='top-row-time'>
        <p class='top-row-time-text small-text'>5:50:00AM</p>
        <p class='top-row-time-text small-text'>Monday, April 2, 2018</p>
      </div>
    </div>
   
    <div class = "profile-form">
      <h5 class='profile-title'>Contact information</h5>
      <div class="line"></div>
      <form class = "" action="/app/accounts/{{email}}/contact" method="get">
        <button class="button dark-button" type="submit">manage</button>
      </form>
    </div>
    
    <div class = "profile-form">
      <h5 class = 'profile-title'>Security</h5>
      <div class="line"></div>
      <form class = "" action="/app/accounts/{{email}}/password" method="get">
        <button class="button dark-button">manage </button>      
      </form>    
    </div>
    {{!-- <div class = "profile-form">
      <h5 class = 'profile-title'>Payment</h5>
      <div class="line"></div>
      <form class = "" action="/app/accounts/{{email}}/payment" method="get">
        <button class="button dark-button" type="submit">manage</button>
      </form>
    </div> --}}
    <div class = "profile-form">
      <h5 class = 'profile-title'>Delete account</h5>
      <div class="line"></div>
      <form class = "" action="/app/accounts/{{email}}?_method=DELETE" method="post">
        <button class="button dark-button" type="submit"> delete </button>    
      </form>
    </div>
  </div>
</div>
{{!-- <script src="/behavior/genericChangeForm.js"></script> --}}

