<div id = 'simpleClock' class="app-content">
    {{!-- defaulting to alarm guest --}}
    <div class="full-page">
        <h1>unavailable :(</h1>
        <p>
            Sorry, you're going to need javascript in order to see a preview of this alarm.
        </p>
    </div>
</div>
<script>
    a.alarmClock()
</script>
{{!-- <script>console.log(window.data)</script>
<script src='../rollup/bundle.js'></script> --}}