<div class="app-content">    
    <div class = 'top-row-wrapper'>
        <div class = 'top-row-search-bar'>
            <div class = 'search-wrapper'>
                <img class = 'icon-mini' src = '/icons/black/magnifying.svg'>
                <input type = 'text'>
            </div>
            <ul class = "org-filter-list">
                <li class = "org-filter-text">current</li>
                <li class = "org-filter-text">saved</li>
                <li class = "org-filter-text">explore</li>
                <li class = "org-filter-text">all</li>
            </ul>
        </div>
        <div class = 'top-row-time'>
            <p class = 'top-row-time-text small-text'>5:50:00AM</p>
            <p class = 'top-row-time-text small-text'>Monday, April 2, 2018</p>
        </div>
    </div>
    {{!-- <p>
        This is where you can select which organizations you would like to support, and which organizations you'd rather not.
    </p> --}}
    <div class="column searchWrapper">
        <div class="column contentWrapper">
            <h4 class = 'organization-subtitle'>current donation</h4>
            <div class="alarm-row">
                <h3 class = "org-titles">Nothing saved</h2>
            </div>
            <h4 class = 'organization-subtitle'>saved organizations</h4>
            <div class="alarm-row">
                <h3 class = "org-titles">Nothing saved</h2>
            </div>
            <h4 class='organization-subtitle'>all organizations</h4>
            <div class="categoryListWrapper">
                {{#each organizationContent}} {{> organizationsdiv}} {{/each}}
            </div>
        </div>
        <p class="formErrorReport">{{ error }}</p>
    </div>    
    <p class="formErrorReport">{{ dbError }}</p>
</div>
{{!-- <script src='../rollup/bundle.js'></script> --}}
