<div class = 'small-card'>
    <p class = 'date small-text'>{{date}}</p>
    <img src = 'http://openweathermap.org/img/w/{{weather}}.png' class='icon small-text'/>
    <p class='max-temp small-text'>{{max}}</p>
    <p class = 'min-temp small-text'>{{min}}</p>
    
</div>
<div class='thin-line'></div>