<div class = 'small-card'>
    <p class = 'date small-text'>{{date}}</p>
    <p class='icon small-text'>{{weather}}</p>
    <p class='max-temp small-text'>{{max}}</p>
    <p class = 'min-temp small-text'>{{min}}</p>
    
</div>
<div class='thin-line'></div>