* {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6, p, li, a, button, input, label {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  border: 0;
  margin: 0;
  padding: 10px; }

li {
  padding-bottom: 2px;
  margin-bottom: 2px;
  font-size: 12px; }

li:hover {
  cursor: pointer;
  background-color: lightgrey; }

body {
  border: 0;
  margin: 0; }

.centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.marginPaddingFix {
  margins: 0 !important;
  padding: 0 !important; }

label {
  font-size: 10px; }

form {
  display: flex;
  flex-direction: column; }

input {
  border: none;
  border-bottom: 2px solid black;
  flex-grow: 1;
  font-size: 14px;
  padding: 2px; }

input:focus {
  outline: 0; }

input:placeholder-shown {
  color: black; }

textarea {
  margin: 4px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px;
  border-right: 0px;
  border-radius: 2px; }

textarea:focus {
  outline: 0; }

button {
  border: none;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.1); }

button:hover {
  cursor: pointer; }

button:active {
  transform: translate(1px, 1px); }

button:focus {
  outline: 0; }

button.yes {
  background-color: black;
  color: white; }

button.no {
  background-color: white; }

button.unavailable {
  background-color: lightgrey;
  border-color: grey;
  color: grey;
  box-shadow: none; }

button.unavailable:active {
  transform: translate(0px); }

.home-img-wrapper {
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  background-image: url("/other-imgs/splash-page-hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachement: fixed;
  background-size: cover;
  background-color: #282828; }

.home-navigation-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 4vh;
  width: 100vw; }

.home-title-wrapper {
  min-width: 30vw;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 1vw; }

.home-title {
  font-weight: 600; }

.home-subtitle {
  font-weight: 300; }

.home-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.home-icon {
  width: 60px;
  height: 60px;
  margin-right: 2vw;
  transition: 300ms; }

.home-navigation-wrapper {
  display: flex;
  align-items: center; }

.home-navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.home-navigation-item {
  color: white;
  font-size: 14px;
  margin-left: 2vw;
  margin-right: 2vw;
  font-weight: 400; }

.home-create-account {
  height: 5vh;
  width: 10vw;
  text-transform: uppercase;
  color: #282828;
  font-weight: 600; }

.home-tryit-wrapper {
  position: absolute;
  left: 40vw;
  top: 95vh;
  width: 20vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828; }
  .home-tryit-wrapper .icon {
    transform: rotate(90deg); }

.home-try {
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  font-weight: 600; }

.home-try-alarm-wrapper {
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  background-color: #282828; }
  .home-try-alarm-wrapper h1 {
    color: white; }

.home-about-wrapper {
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  background-color: #fff; }

.home-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: #211A08; }
  .home-footer-wrapper p {
    width: 150px;
    color: white;
    text-align: right; }

.home-footer-icon-wrapper {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.app-wrapper {
  width: 100vw;
  display: flex; }

.app-menu {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282828; }

.app-menu-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10vh; }

.app-menu-title {
  color: #fff;
  font-size: 36px;
  font-weight: bold; }

.app-menu-li {
  display: flex;
  align-items: center;
  margin-bottom: 3vh; }

.app-menu-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none; }

#logout {
  justify-content: flex-end; }

#logout > .app-menu-text {
  text-transform: lowercase; }

.app-content {
  width: 80vw; }

.app-alarm-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }

.clock {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 4vw;
  width: 80vw;
  color: #282828; }

.clock > h1 {
  font-size: 8vw;
  font-weight: 400; }

.alarmForm {
  margin-top: 10px;
  width: 40vw;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .alarmForm h4 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .alarmForm button {
    margin-top: 10px;
    margin-bottom: 10px; }

.alarms {
  margin-top: 10px;
  width: 40vw;
  max-width: 600px;
  min-width: 300px;
  width: 100%; }

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }
  .formWrapper form {
    margin-top: 10px;
    width: 40vw;
    max-width: 600px;
    min-width: 300px; }
    .formWrapper form .textFormWrapper h5 {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 55px;
      transition: 300ms;
      font-weight: 400; }
    .formWrapper form .textFormWrapper div {
      display: flex;
      width: 100%; }
      .formWrapper form .textFormWrapper div input {
        flex-grow: 1; }
    .formWrapper form .textFormWrapper p {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 55px;
      transition: 300ms;
      font-size: 10px; }
    .formWrapper form .textFormWrapper p.marginPaddingFix {
      margin: 0;
      padding: 0; }
    .formWrapper form button {
      margin-top: 10px;
      margin-bottom: 10px; }

.formIcon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  transition: 300ms; }

#formIcon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  transition: 300ms; }

.icon {
  width: 30px;
  height: 30px;
  transition: 300ms; }

.fadeIn {
  opacity: 1;
  visibility: visible;
  transform: translateX(-2px);
  transition: 300ms; }

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transform: translateX(2px);
  transition: 300ms; }

.fadeInVert {
  opacity: 1;
  visibility: visible;
  transform: translateY(-2px);
  transition: 300ms; }

.fadeOutVert {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2px);
  transition: 300ms; }

.textSuccess {
  color: #068721;
  font-weight: 600;
  transition: 300ms; }

.titleSuccess {
  color: #068721; }

.buttonSuccess {
  background-color: #068721;
  border-color: #068721;
  color: white; }

.formSuccess input[type=text] {
  color: #068721; }

.formSuccess input {
  color: #068721;
  border-color: #068721; }

.textError {
  color: #9f2121;
  font-weight: 600;
  transition: 300ms; }

.buttonError {
  background-color: #9f2121;
  border-color: #9f2121;
  color: white; }

.formError input[type=text] {
  color: #9f2121; }

.formError input {
  border-color: #9f2121; }

.buttonInactive {
  background-color: white;
  border-color: grey;
  color: grey; }

.formInactive input[type=text] {
  color: grey; }

.formInactive input {
  color: grey;
  border-color: grey; }

.spa-menu-test {
  width: 100%; }

.spa-active {
  background-color: black;
  color: white; }

.passwordQualityWrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-left: 55px; }

.eye-icon {
  position: relative;
  left: 90%;
  top: -30px; }

.hidePass {
  height: 30px;
  border-bottom: 2px solid black;
  width: 0;
  transition: 300ms;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; }

.showPass {
  height: 30px;
  border-bottom: 2px solid black;
  transition: 300ms;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; }

.paymentInfoWrapper {
  display: flex; }

.titleButton {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.vert-text {
  transform: rotate(-90deg); }

div .graphWrapper {
  display: flex; }
  div .graphWrapper .y-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 50vh;
    width: 3vw; }
    div .graphWrapper .y-axis p {
      color: grey;
      margin-right: 10px; }
  div .graphWrapper .y-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 3vw; }
    div .graphWrapper .y-title p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500; }
  div .graphWrapper .graph {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 40vw;
    height: 50vh;
    border-left: 1px dotted gray;
    border-bottom: 1px dotted gray; }
    div .graphWrapper .graph div {
      background-color: black;
      height: 0px;
      width: 3vw; }

div .x-axis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 40vw;
  margin-left: 6vw;
  height: 90px; }
  div .x-axis div {
    height: 100%;
    width: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    div .x-axis div p {
      transform: rotate(-90deg);
      color: grey; }
    div .x-axis div .dates {
      font-size: 8px;
      transform: none; }
