* {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6, p, li, a, button, input, label {
  font-family: "Roboto", sans-serif; }

.centerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.marginPaddingFix {
  margins: 0 !important;
  padding: 0 !important; }

label {
  font-size: 10px; }

form {
  display: flex;
  flex-direction: column; }

input {
  border: none;
  border-bottom: 2px solid black;
  flex-grow: 1;
  font-size: 14px;
  padding: 2px; }

input:focus {
  outline: 0; }

input:placeholder-shown {
  color: black; }

textarea {
  margin: 4px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px;
  border-right: 0px;
  border-radius: 2px; }

textarea:focus {
  outline: 0; }

button {
  border: 1px solid black;
  margin: 4px 0 4px 0;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.1);
  min-width: 10%;
  max-width: 40%;
  min-height: 20px;
  padding: 3px;
  align-self: flex-end; }

button:hover {
  cursor: pointer; }

button:active {
  transform: translate(1px, 1px); }

button:focus {
  outline: 0; }

button.yes {
  background-color: black;
  color: white; }

button.no {
  background-color: white; }

button.unavailable {
  background-color: lightgrey;
  border-color: grey;
  color: grey;
  box-shadow: none; }

button.unavailable:active {
  transform: translate(0px); }

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }
  .formWrapper form {
    margin-top: 10px;
    width: 40vw;
    max-width: 600px;
    min-width: 300px; }
    .formWrapper form .textFormWrapper h5 {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 55px;
      transition: 300ms;
      font-weight: 400; }
    .formWrapper form .textFormWrapper div {
      display: flex;
      width: 100%; }
      .formWrapper form .textFormWrapper div input {
        flex-grow: 1; }
    .formWrapper form .textFormWrapper p {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 55px;
      transition: 300ms;
      font-size: 10px; }
    .formWrapper form .textFormWrapper p.marginPaddingFix {
      margin: 0;
      padding: 0; }
    .formWrapper form button {
      margin-top: 10px;
      margin-bottom: 10px; }

.formIcon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  transition: 300ms; }

#formIcon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  transition: 300ms; }

.icon {
  width: 30px;
  height: 30px;
  transition: 300ms; }

.fadeIn {
  opacity: 1;
  visibility: visible;
  transform: translateX(-2px);
  transition: 300ms; }

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transform: translateX(2px);
  transition: 300ms; }

.fadeInVert {
  opacity: 1;
  visibility: visible;
  transform: translateY(-2px);
  transition: 300ms; }

.fadeOutVert {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2px);
  transition: 300ms; }

.textSuccess {
  color: #068721;
  font-weight: 600;
  transition: 300ms; }

.titleSuccess {
  color: #068721; }

.buttonSuccess {
  background-color: #068721;
  border-color: #068721;
  color: white; }

.formSuccess input[type=text] {
  color: #068721; }

.formSuccess input {
  color: #068721;
  border-color: #068721; }

.textError {
  color: #9f2121;
  font-weight: 600;
  transition: 300ms; }

.buttonError {
  background-color: #9f2121;
  border-color: #9f2121;
  color: white; }

.formError input[type=text] {
  color: #9f2121; }

.formError input {
  border-color: #9f2121; }

.buttonInactive {
  background-color: white;
  border-color: grey;
  color: grey; }

.formInactive input[type=text] {
  color: grey; }

.formInactive input {
  color: grey;
  border-color: grey; }

.passwordQualityWrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-left: 55px; }

.eye-icon {
  position: relative;
  left: 90%;
  top: -30px; }

.hidePass {
  height: 30px;
  border-bottom: 2px solid black;
  width: 0;
  transition: 300ms;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; }

.showPass {
  height: 30px;
  border-bottom: 2px solid black;
  transition: 300ms;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; }

.paymentInfoWrapper {
  display: flex; }

.titleButton {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.vert-text {
  transform: rotate(-90deg); }

div .graphWrapper {
  display: flex; }
  div .graphWrapper .y-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 50vh;
    width: 3vw; }
    div .graphWrapper .y-axis p {
      color: grey;
      margin-right: 10px; }
  div .graphWrapper .y-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 3vw; }
    div .graphWrapper .y-title p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500; }
  div .graphWrapper .graph {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 40vw;
    height: 50vh;
    border-left: 1px dotted gray;
    border-bottom: 1px dotted gray; }
    div .graphWrapper .graph div {
      background-color: black;
      height: 0px;
      width: 3vw; }

div .x-axis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 40vw;
  margin-left: 6vw;
  height: 90px; }
  div .x-axis div {
    height: 100%;
    width: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    div .x-axis div p {
      transform: rotate(-90deg);
      color: grey; }
    div .x-axis div .dates {
      font-size: 8px;
      transform: none; }
