* {
  margin: 0px;
  padding: 0px;
  transition: 200ms; }

h1, h2, h3, h4, h5, h6, p, li, a, button, input, label {
  font-family: 'Open Sans', sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  color: #ff6347; }

a {
  text-decoration: none;
  color: inherit; }

.a {
  display: flex;
  align-items: center;
  justify-content: center; }

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 10px; }

input {
  background-color: transparent;
  border: 0; }

input:focus {
  outline: none; }

input::placeholder {
  color: white; }

input[text] {
  color: white; }

.small-text {
  font-size: 12px;
  font-weight: 100; }

.small-icon {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0; }

body {
  border: 0;
  margin: 0;
  background: #F1AAAF; }

.page-wrapper {
  color: #F1AAAF; }

.title-wrapper {
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: papayawhip; }

.album-wrapper {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; }

.title {
  text-align: center;
  padding: 10px;
  letter-spacing: 3px;
  font-weight: 200;
  color: #ff6347; }

.title-icon {
  width: 100px;
  height: 100px; }

.title-wrapper:hover > h1 {
  color: #211A08; }

.img {
  width: 100%;
  overflow: hidden; }

.margin-bottom {
  margin-bottom: 20px; }

* {
  transition: 300ms; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.wrapper, .wrapper-flip {
  position: relative;
  width: 50vw;
  max-width: 1000px;
  min-width: 260px;
  height: 60px;
  background: #FBD6DB;
  margin-top: 5px;
  margin-right: 35px;
  transform: translateX(17.5px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.wrapper:before, .wrapper-flip:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  border: 0 solid #FBD6DB;
  border-top-width: 60px;
  border-left-width: 35px;
  border-left-color: transparent; }

.wrapper:after, .wrapper-flip:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border: 0 solid #FBD6DB;
  border-bottom-width: 60px;
  border-right-width: 35px;
  border-right-color: transparent; }

.album-title-wrapper {
  display: flex;
  align-items: center; }

.line {
  height: 1px;
  background: #F1AAAF;
  flex-grow: 1; }

.album-title {
  text-align: left;
  padding: 2px;
  letter-spacing: 2px;
  font-weight: 100;
  color: #F1AAAF;
  font-size: 10px; }

.description {
  font-weight: 12px;
  color: #FBD6DB;
  margin-left: 35px;
  margin-right: 35px;
  width: 40vw;
  min-width: 250px; }

.wrapper-flip:before {
  border-top-width: 0px;
  border-bottom-width: 60px; }

.wrapper-flip:after {
  border-bottom-width: 0px;
  border-top-width: 60px; }

.photo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  max-width: 1200px; }

.revert-button {
  z-index: 10; }
