* {
  margin: 0px;
  padding: 0px;
  transition: 200ms; }

h1, h2, h3, h4, h5, h6, p, li, a, button, input, label {
  font-family: 'Open Sans', sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  color: #ff6347; }

a {
  text-decoration: none;
  color: inherit; }

.a {
  display: flex;
  align-items: center;
  justify-content: center; }

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 10px; }

input {
  background-color: transparent;
  border: 0; }

input:focus {
  outline: none; }

input::placeholder {
  color: white; }

input[text] {
  color: white; }

.small-text {
  font-size: 12px;
  font-weight: 100; }

.small-icon {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0; }

body {
  border: 0;
  margin: 0;
  background: #ffefd6; }

.page-wrapper {
  color: #F1AAAF; }

.title-wrapper {
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffefd6; }

.title {
  text-align: center;
  padding: 10px;
  letter-spacing: 3px;
  font-weight: 200;
  color: #ff6347; }

.title-icon {
  width: 100px;
  height: 100px; }

.title-wrapper:hover > h1 {
  color: #211A08; }

.img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.margin-bottom {
  margin-bottom: 20px; }

* {
  transition: 300ms; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.wrapper, .wrapper-flip {
  position: relative;
  width: 50vw;
  max-width: 1000px;
  min-width: 240px;
  height: 60px;
  background: #FBD6DB;
  margin-top: 5px;
  margin-right: 35px;
  transform: translateX(17.5px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.wrapper:before, .wrapper-flip:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  border: 0 solid #FBD6DB;
  border-top-width: 60px;
  border-left-width: 35px;
  border-left-color: transparent; }

.wrapper:after, .wrapper-flip:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border: 0 solid #FBD6DB;
  border-bottom-width: 60px;
  border-right-width: 35px;
  border-right-color: transparent; }

.album-wrapper {
  width: 50vw;
  max-width: 1000px;
  min-width: 240px;
  max-width: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-left: 35px; }

.album-wrapper-flip {
  width: 50vw;
  max-width: 1000px;
  min-width: 240px;
  max-width: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center; }

.photo-container-medium {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-height: 50vh;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden; }

.album-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px; }

.album-description {
  flex: .4; }

@media all and (max-width: 750px) {
  .album-description {
    flex: 1; } }

.centered {
  height: 100%;
  width: 25px;
  display: flex;
  justify-content: center; }

.no-dot {
  border-radius: 50px;
  width: 0px;
  height: 0px;
  background-color: #F1AAAF;
  transition: 200ms;
  position: relative;
  left: 60px; }

.small-dot {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: #ff6347;
  transition: 200ms;
  transition-delay: 000ms;
  position: relative;
  left: 60px; }

@media all and (max-width: 390px) {
  .no-dot {
    border-radius: 50px;
    width: 0px;
    height: 0px;
    background-color: #F1AAAF;
    transition: 200ms;
    position: relative;
    left: 40px;
    z-index: 2; }
  .small-dot {
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: #ff6347;
    transition: 200ms;
    transition-delay: 000ms;
    position: relative;
    left: 40px;
    z-index: 2; } }

.album-title-wrapper {
  display: flex;
  align-items: center; }

.line {
  height: 1px;
  background: #ff6347;
  flex-grow: 1;
  opacity: .2; }

.spacer {
  height: 1px;
  background: transparent;
  flex-grow: 1; }

.album-title {
  font-family: 'Crimson Text', serif;
  text-align: left;
  text-transform: uppercase;
  padding: 2px;
  letter-spacing: 2px;
  font-weight: 100;
  color: #F1AAAF;
  font-weight: 800;
  font-size: 10px; }

@media all and (max-width: 750px) {
  .album-title {
    color: #ff6347; } }

.album-title-selected {
  color: #ff6347; }

.description {
  font-weight: 12px;
  color: #FBD6DB;
  margin-left: 35px;
  margin-right: 35px;
  width: 40vw;
  min-width: 250px; }

.wrapper:hover > .album-title-wrapper > .album-title,
.wrapper-flip:hover > .album-title-wrapper > .album-title {
  color: #ff6347;
  cursor: pointer; }

.wrapper-flip:before {
  border-top-width: 0px;
  border-bottom-width: 60px; }

.wrapper-flip:after {
  border-bottom-width: 0px;
  border-top-width: 60px; }

.photo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 50vw;
  max-width: 1000px;
  min-width: 260px; }

.lightbox-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: #ffefd6;
  z-index: 100;
  overflow: hidden; }

.lightbox-photo-wrapper {
  position: absolute;
  left: 70px;
  top: 70px;
  right: 70px;
  bottom: 70px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.lightbox-photo-wrapper:hover ~ .revert {
  display: none; }

@media all and (max-width: 750px) {
  .lightbox-photo-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; } }

.lightbox-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

.lightbox-title-wrapper {
  position: absolute;
  top: 0;
  left: 0; }

.svg-icon {
  fill: none;
  stroke: #ff6347;
  stroke-miterlimit: 10;
  stroke-width: 7px;
  transition: all 0.4s; }

.lightbox-icon {
  width: 50px;
  margin: 10px;
  transition: all 0.4s;
  stroke-dasharray: 0, 600;
  stroke-dashoffset: -100; }

.lightbox-icon-show {
  width: 50px;
  margin: 10px;
  stroke-dasharray: 1000, 0;
  stroke-dashoffset: 0;
  transition: all 0.4s; }

.lightbox-icon-show:hober {
  stroke-width: 14px;
  transition: all 0.4s; }

.aline {
  stroke: #325872; }

.dot-box-wrapper {
  align-self: flex-end;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 15px; }

.lightbox-dot {
  border-radius: 30px;
  width: 15px;
  height: 15px;
  border: 1px solid #ff6347;
  background-color: transparent;
  transition: 200ms;
  transition-delay: 000ms;
  margin-left: 5px;
  margin-right: 5px;
  transition: 200ms; }

.lightbox-dot:hover {
  background: #e5a69b;
  transition: 200ms; }
