<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FORM APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" href="/stylesheets/scss-test.css"/>
  </head>
  <body>
  {{{ body }}}
  </body>
</html>
