<div class="app-content">
  <div class="long-page">
    <div class="flex column add-alarm-form">
        <form action="/app/accounts/{{ email }}/payment" method="POST">
          <p>name</p>
          <input id="name" name="name" class = "big-form-item" type="text" placeholder="darth vader" value="asdf asdf" />
          <p class="formErrorReport" id="nameError"></p>

          <p>card number</p>
          <input id="cardNumber" name="card_number" class = "big-form-item" type="text" placeholder="put card number here" value="42424242424242" />
          <p class="formErrorReport" id="cardNumberError"></p>

          <p>expiration (month/date)</p>
          <div class="flex expirationWrapper">
            <input id="expirationMonth" name="exp_month" class = "big-form-item" type="text" placeholder="MM" maxlength="2" value = "12"/>
            <p class="expirationSlash">  / </p>
            <input id="expirationDay" name="exp_date" class = "big-form-item" type="text" placeholder="DD" maxlength="2" value = "12"/>
          </div>
          <p class="formErrorReport" id="exiprationMonthError"></p>
          <p class="formErrorReport" id="exiprationDayError"></p>

          <p>CVV</p>
          <input id="cvv" name="cvv" class = "big-form-item" type="text" placeholder="number" value="123" />
          <p class="formErrorReport" id="cvvError"></p>

          <p>address</p>
          <input id="address" name="address_1" class = "big-form-item" type="text" placeholder="E Street South" value="asdfga" />
          <p class="formErrorReport" id="addressError"></p>

          <p>city</p>
          <input id="city" name="city" class = "big-form-item" type="text" placeholder="Juneau" value="1234" />
          <p class="formErrorReport" id="cityError"></p>

          <p>state</p>
          <input id="state" name="state" class = "big-form-item" type="text" placeholder="AK" value="WA" />
          <p class="formErrorReport" id="stateError"></p>
          <div class="dropdownWrapper">
            <ul class="dropdownList"></ul>
          </div>

          <p>ZIP code</p>
          <input id="zipCode" name="zip" class="big-form-item" type="text" placeholder="ZIP" value="12345" />
          <p class="formErrorReport" id="zipCodeError"></p>

          <button id="formSubmitter" class="button dark-button" type="submit">submit</button>

        </form>
      {{dbError}}


    </div>
  </div>
</div>
{{!-- <script src="/behavior/payment-action.js"></script> --}}
