
<div class="full-page">
  <h1>Payment Information</h1>
  <p>
    This is where you can view, add, remove and edit your credit/debit cards
  </p>

  <div class= "listWrapper">
    {{#each paymentContent}}
      {{> paymentdiv}}
    {{/each}}
  </div>
  <p class="formErrorReport">{{ dbError }}</p>
  <form action="/app/accounts/{{email}}/payment/new-payment" method="get">
      <button class="button dark-button"> add card </button>
  </form>
</div>
<script src="/behavior/alarm-display.js"></script>
