<div class='about-wrapper'>
    <div class = 'about'>
        <div id='menu'></div>
        <div class = 'about-img'>
            <svg class = "about-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 400 400">
                <g>
                    <circle cx="200" cy="200" r="189.5" /> {/*
                    <path d="M200,11c25.5,0,50.3,5,73.6,14.9c22.5,9.5,42.7,23.1,60.1,40.5c17.4,17.4,31,37.6,40.5,60.1
                            C384,149.7,389,174.5,389,200s-5,50.3-14.9,73.6c-9.5,22.5-23.1,42.7-40.5,60.1c-17.4,17.4-37.6,31-60.1,40.5
                            C250.3,384,225.5,389,200,389s-50.3-5-73.6-14.9c-22.5-9.5-42.7-23.1-60.1-40.5c-17.4-17.4-31-37.6-40.5-60.1
                            C16,250.3,11,225.5,11,200s5-50.3,14.9-73.6c9.5-22.5,23.1-42.7,40.5-60.1s37.6-31,60.1-40.5C149.7,16,174.5,11,200,11 M200,10
                            C95.1,10,10,95.1,10,200s85.1,190,190,190s190-85.1,190-190S304.9,10,200,10L200,10z" /> */}
                </g>
            </svg>
        </div>
        <div class ='about-text'>
            <p>
                My name is Benjamin Bullitt Schmechel. This is a place I’ve begun to put the photographs I’ve taken and other things I’ve
                made or written over the last few years. This page is a place where I’d like to tell a little bit about my background or
                story or make some kind of helpful introduction. There might be a picture of me here, though I’m not sure about that yet.

            </p>
            <p>
                There will certainly be space for expressing gratitude, and for providing hypertext links to the websites of other artists
                and friends.

            </p>
            <p>
                I think there may also be a discrete/or not so discrete place here for making contact.
            </p>
        </div>
    </div>
</div>
<script>
    a.menu()
</script>