<div class="app-content">
    <div class="full-page" id = 'test'>
        <h1>No javascript?</h1>
        <br>
        <div class = 'message-box'>
            <p>
                Its okay that javascript is disabled, but there will be some things that won't work for you.
            </p>
            <br>
            <p>
                You can still change your account, alarms, organizations, view transactions, but interactive components like the alarm clock
                don't work without javascript.
            </p>
            <br>
            <p>
                To learn more about enabling javascript look
                <a class = 'link' href='https://www.enable-javascript.com/'>here</a>.
            </p>
            <br>
            <h3>
                Please user the menu to take your next steps!
            </h3>
        </div>
    </div>
</div>
<script>
    a.app()
</script>