<div class='title-wrapper'>
    <svg class = 'title-icon' id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <defs>
            <style>
                .cls-1 {
                    fill: none;
                    stroke: tomato;
                    stroke-miterlimit: 10;
                    stroke-width:4px;
                }
            </style>
        </defs>
        <title>repository-icon-a-frame</title>
        <polygon class="cls-1" points="211.12 153.97 140.25 203.42 221.01 234.73 153.43 280.88 230.9 310.55 371 214.96 211.12 153.97"
        />
        <polyline class="cls-1" points="43 234.73 89.15 150.67 123.76 266.05" />
        <polyline class="cls-1" points="89.15 150.67 189.69 81.45 211.12 153.97" />
    </svg>
    <p class='title'>when in the thick</p>
</div>
<div id='whenInTheThick'>
    <h1>REACT HAS FAILED</h1>
</div>
<div id='menu'></div>



<script>
    a.blindsInTheThick()
    a.menu()
</script>