<div class='title-wrapper'>
    <svg class = 'title-icon' id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <defs>
            <style>
                .cls-1 {
                    fill: none;
                    stroke: tomato;
                    stroke-miterlimit: 10;
                    stroke-width: 4px;
                }
            </style>
        </defs>
        <title>repository-icon-tie-fighter</title>
        <line class="cls-1" x1="65.87" y1="46.96" x2="335" y2="46.96" />
        <line class="cls-1" x1="65.87" y1="202.78" x2="335" y2="202.78" />
        <line class="cls-1" x1="65.87" y1="342.5" x2="335" y2="342.5" />
        <line class="cls-1" x1="200.44" y1="46.96" x2="200.44" y2="342.5" />
    </svg>
    <p class='title'>dreams</p>
</div>
<div id = 'blinds'>
    <h1>REACT HAS FAILED</h1>
</div>
<div id='menu'></div>



<script>
    a.blinds('/dreams')
    a.menu()
</script>
