<div class="full-page">
  <div class = "error-wrapper">
    <h1 class = "error-title">{{number}} ERROR.</h1>
    <p>
      Sorry for the hangup.
    </p>
    <div class="paragraph-margins error-wrapper">
      <h5 class = 'textError'>
        {{ errName }}
      </h5>
   
      <p class = 'paragraph-margins textError'>
        {{ errMessage }}
      </p>
    </div>
  </div>
  <p>If you fail once, try, try again:</p>
  {{#if loggedIn}}
  <form action='/app' method='get'>
      <button class = "button dark-button"> app home </button>
  </form>
  {{else}}
  <form action='/' method='get'>
      <button class = "button light-button"> home </button>
  </form>  
  {{/if}}
  <p>If you feel like things are really messed up, try logging in again:</p>
  <form action='/to-login' method='get'>
    <button class="button dark-button"> login </button>
  </form>
</div>
