<div class="full-page">
  <div class = "error-wrapper">
    <h1 class = "error-title">{{number}} ERROR.</h1>
    <div class="paragraph-margins error-wrapper">
      <h5 class = 'textError'>
        {{ errName }}
      </h5>
   
      <p class = 'paragraph-margins'>
        {{ errMessage }}
      </p>
      <p>
        Sorry for the hangup. You can use the home button below to try again.
      </p>
    </div>
    <form action='/' method='get'>
      <button> go back home </button>
    </form>
    <form action='/to-login' method='get'>
      <button> login </button>
    </form>
  </div>
</div>
