<div class='flex column pageWrapper center'>
  <div class="flex column userWrapper">
    <h3 class="formTitle">forgot password</h3>
    <form action="/forgot-password/authorized" method="post">
      <p>email</p>
      <input id="email" name="email" class="userFormItem" type="text" placeholder="email" />
      <p class="formErrorReport" id="emailError"></p>
      <button id="formSubmitter" class="unavailable submit" type="submit"> send mail </button>
    </form>
    <p class="noMarginsPassing preInputMimic">{{ message }}</p>
  </div>
</div>
