
<div id='test' class = 'widget-wrapper'>
    <div class = 'search-wrapper'>
        <form action = '/' method = 'POST'>
            <i class="fas fa-search"></i><input type = 'text' name = 'city' placeholder = 'choose a city'>
            <i class="fas fa-times"></i>
            <button type = 'submit'>get weather</button>
        </form>
    </div>
    <div class = 'forecast-wrapper'>
         {{#each day}} {{> day-forecast}} {{/each}}
    </div>
    
</div>

<script>
    {{!-- a.test() --}}
</script>
