
<div id = 'home' class = 'home'>
    <div id='menu'></div>
    <div id = 'root'></div>
    {{!-- <div class = "home-image-wrapper">
        <img class="home-image" src='icons/home-all-shapes.svg' >
    </div> --}}
    <h1 class = 'home-title'>ulm<span class = 'home-title-period'>.</span>us</h1>
</div>
<script>
    a.shapely()
    a.menu()
</script>