<div id = 'blinds'>
    <h1>REACT HAS FAILED</h1>
</div>

<div class = 'photo-container' id = 'photoGallery'>
    <h1>REACT HAS FAILED</h1>
</div>


<script>
    a.photoGallery()
    a.blinds()
</script>
