<h1>weather widget</h1>
<div id='test'>
    {{city}}
    <form action = '/' method = 'POST'>
        <input type = 'text' name = 'city'>
        <button type = 'submit'>get weather</button>
    </form>
    {{#each day}}{{> forecast}}{{/each}}
</div>

<script>
    {{!-- a.test() --}}
</script>
