<div class='login-wrapper'>
  <div class="flex column userWrapper">
  <h3 class="formTitle"></h3>
    <form action="/accounts" method="post">
      <div class = "generic-form">
        <p>name</p>
        <input id="name" name="name" class="big-form-item" type="text" placeholder="name" value = 't' />

        <p>email</p>
        <input id="email" name="email" class="big-form-item" type="text" placeholder="email" value="t@t.tt"/>

        <p>phone #</p>
        <input id="phone" name="phone" class="big-form-item" type="text" placeholder="phone" value = "1"/>

        <p>password</p>
        <input id="password" name="password" class="big-form-item" type="password" placeholder="" value= "1234!@#$qwer"/>
        <p class="formErrorReport">{{ dbError }}</p>
      </div>

      <button class="dark-button button" type="submit"> create account </button>
    </form>
  </div>
</div>

{{!-- <div id='new-user'></div>
<script src = './rollup/bundle.js'></script> --}}
