<div class='title-wrapper'>
    <img class='title-icon' src='/icons/titles/photos-icon-red.svg' />
    <p class='title'>photos</p>
</div>
<div id = 'blinds'>
    <h1>REACT HAS FAILED</h1>
</div>
<div id='menu'></div>



<script>
    a.blinds('/photos')
    a.menu()
</script>
