<div class='app-content'>
  <div class='profile-wrapper full-width'>
    <div class='top-row-wrapper'>
      <div class='top-row-search-bar'>
      </div>
      <div class='top-row-time'>
        <p class='top-row-time-text small-text'>5:50:00AM</p>
        <p class='top-row-time-text small-text'>Monday, April 2, 2018</p>
      </div>
    </div>

    <div class="profile-form">
      <h5 class='profile-title'>alarm prices</h5>
      <div class="line"></div>
      <form class="" action="/app/accounts/{{email}}/settings/alarm-prices" method="get">
        <button class="button dark-button" type="submit">manage</button>
      </form>
    </div>

    <div class="profile-form">
      <h5 class='profile-title'>alarm settings</h5>
      <div class="line"></div>
      <form class="" action="/app/accounts/{{email}}/settings/alarm-settings" method="get">
        <button class="button dark-button">manage </button>
      </form>
    </div>
  </div>
</div>
