<div class='title-wrapper'>
    <svg class = 'title-icon' id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <defs>
            <style>
                .cls-1,
                .cls-2 {
                    fill: none;
                    stroke: tomato;
                    stroke-miterlimit: 10;
                    stroke-width:4px;
                }
    
                .cls-1 {
                    stroke-width: 4px;
                }
            </style>
        </defs>
        <title>repository-icon-crowd</title>
        <circle class="cls-1" cx="82.48" cy="121.61" r="42.96" />
        <circle class="cls-1" cx="187.98" cy="121.61" r="42.96" />
        <circle class="cls-1" cx="293.44" cy="121.61" r="42.96" />
        <polyline class="cls-2" points="30 247.38 83.27 196.43 134.23 247.38 187.5 196.43 240.77 247.38 294.04 196.43 345 247.38"
        />
        <polyline class="cls-2" points="30 321.5 83.27 270.55 134.23 321.5 187.5 270.55 240.77 321.5 294.04 270.55 345 321.5"
        />
    </svg>
    <p class='title'>social</p>
</div>
<div id = 'blinds'>
    <h1>REACT HAS FAILED</h1>
</div>
<div id='menu'></div>



<script>
    a.blinds('/social')
    a.menu()
</script>
