<h1>TEST PAGE</h1>
<div id='app'></div>

<script src='./rollup/bundle.js'></script>
<script>
    let initialState = {{{userDataForRender}}}
    console.log('!!!!!!!!!!', a.store)
    console.log('!!!!!!!!!!', a.store.dispatch)
    a.app()
    a.store.dispatch(a.populate(initialState))
</script>
