* {
  margin: 0px;
  padding: 0px;
  // border:1px solid lightgrey;
}

h1,h2,h3,h4,h5,h6,p,li,a,button,input,label {
  font-family:"Roboto", sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

ul{
    list-style:none;
    border:0;
    margin:0;
    padding:10px
}
li{
    padding-bottom:2px;
    margin-bottom:2px;
    font-size:12px
}
li:hover{
    cursor:pointer;
    background-color:lightgrey
}

body{
    border:0;
    margin:0
}

// FONTS
$miniFont: 10px;
// COLORS
$darkGreen: #068721;
$darkRed:#9f2121;
$darkGrey:#282828;
$almostBlack:#211A08;
$white: #fff;

@mixin centerColumn {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

@mixin fullWidthColumn {
  display:flex;
  flex-direction:column;
  justify-content:stretch;
}

@mixin flatRow {
  display:flex;
  justify-content:space-around;
  align-items:baseline;
}

@mixin wrapper {
  margin-top: 10px;
  width:40vw;
  max-width:600px;
  min-width:300px;
}

@mixin colMargin {
  margin-top: 10px;
  margin-bottom:10px;
}

//COMMON DIMENSIONS
//  margings

$small-margin-l:25px;
$small-margin-r:25px;

//  common element sizes
$icon-width:30px;
$icon-container-width:$icon-width + $small-margin-l;

// BOILERPLATE
.centerColumn {@include centerColumn}

.marginPaddingFix {
  margins:0!important;
  padding:0!important;
}
label {
  font-size:10px;
}

form {
  display: flex;
  flex-direction:column;
}

input {
  border:none;
  border-bottom:2px solid black;
  flex-grow:1;
  font-size:14px;
  padding:2px;
}

input:focus {
  outline:0;
}

input:placeholder-shown {
  color:black;
}

textarea {
  margin:4px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  border-left:0px;
  border-right:0px;
  border-radius:2px;
}


textarea:focus {
  outline:0;
}

button {
  border:none;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, .1);
}

button:hover {
  cursor:pointer;
}

button:active {
  transform: translate(1px, 1px);
}

button:focus {
  outline:0;
}

button.yes {
  background-color:black;
  color:white;
}

button.no {
  background-color:white;
}

button.unavailable {
  background-color:lightgrey;
  border-color:grey;
  color:grey;
  box-shadow:none;
}

button.unavailable:active {
 transform:translate(0px);
}

// HOME page



.home-img-wrapper {
  width:100vw;
  height:100vh;
  min-height: 300px;
  background-image: url('/other-imgs/splash-page-hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:$darkGrey;
}

.home-navigation-bar {
  position:absolute;
  display:flex;
  justify-content: space-between;
  top:4vh;
  width:100vw;
}

.home-title-wrapper {
  min-width:30vw;
  display:flex;
  align-items: center;
  background-color: rgba(255,255,255,0.76);
  padding:1vw;
}

.home-title {
  font-weight:600;
}

.home-subtitle {
  font-weight:300;
}

.home-logo-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
}

.home-icon {
  width:$icon-width*2;
  height:$icon-width*2;
  margin-right:2vw;
  transition:300ms;
}

.home-navigation-wrapper {
  display:flex;
  align-items: center;
}

.home-navigation-list {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.home-navigation-item {
  color:white;
  font-size:14px;
  margin-left:2vw;
  margin-right:2vw;
  font-weight:400;
}

.home-create-account {
  height:5vh;
  width:10vw;
  text-transform:uppercase;
  color:$darkGrey;
  font-weight:600;
}

.home-tryit-wrapper {
  position: absolute;
  left:40vw;
  top:95vh;
  width:20vw;
  height:5vh;

  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $darkGrey;

  .icon {
    transform: rotate(90deg)
  }
}

.home-try {
  text-transform:uppercase;
  color:$white;
  background-color:transparent;
  font-weight:600;
}

.home-try-alarm-wrapper {
  width:100vw;
  height:100vh;
  min-height: 300px;
  background-color: $darkGrey;
  h1 {
    color: white;
  }
}

.home-about-wrapper {
  width:100vw;
  height:100vh;
  min-height: 300px;
  background-color: $white;

  h1 {

  }
}

.home-footer-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:30vh;
  background-color:$almostBlack;


  p {
    width:150px;
    color: white;
    text-align:right;
  }
}

.home-footer-icon-wrapper {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



// APP-WRAPPER

.app-wrapper {
  width:100vw;
  display:flex;

}

// APP-MENU

.app-menu {
  width:20vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  background-color:$darkGrey;
}

.app-menu-title-wrapper {
  display:flex;
  align-items: center;
  margin-bottom:10vh;
}

.app-menu-title {
  color:$white;
  font-size:36px;
  font-weight:bold;
}

.app-menu-li {
  display:flex;
  align-items: center;
  margin-bottom:3vh;
}

.app-menu-text {
  color:$white;
  text-transform:uppercase;
  font-size:18px;
  font-weight:300;
  text-decoration:none;
}

#logout {
  justify-content: flex-end;
}

#logout > .app-menu-text {
  text-transform:lowercase;
}

// APP-CONTENT

.app-content {
  width:80vw;
}
// ALARM

.app-alarm-wrapper {
  display:flex;
  flex-direction:column;
  width:100%;
}

.clock {
  display:flex;
  justify-content: center;
  margin-top:2vw;
  margin-bottom:4vw;
  width:80vw;
  color:$darkGrey;
}

.clock > h1 {
  font-size:8vw;
  font-weight:400;
}

.alarmForm {
  @include wrapper;
  width:100%;
  display:flex;
  flex-direction:column;


  h4 {
    @include colMargin;
  }
  button {
    @include colMargin;
  }
}

.alarms {
  @include wrapper;
  width:100%;
}



// FORM ITEMS

.formWrapper {
  @include centerColumn;
  display:flex;
  flex-direction:column;

    form {
      @include wrapper;
      .textFormWrapper {
        h5 {
          @include colMargin;
          margin-left:$icon-container-width;
          transition:300ms;
          font-weight:400;
        }
        div {
          display:flex;
          width:100%;
          input {
            flex-grow:1;
          }
        }

        p {
          @include colMargin;
          margin-left:$icon-container-width;
          transition:300ms;
          font-size:$miniFont;
        }

        p.marginPaddingFix {
          margin: 0;
          padding: 0;
        }
      }

      button {
        @include colMargin;
      }
    }
}

.formIcon {
  width:$icon-width;
  height:$icon-width;
  margin-right:$small-margin-l;
  transition:300ms;
}

#formIcon {
  width:$icon-width;
  height:$icon-width;
  margin-right:$small-margin-l;
  transition:300ms;
}

.icon {
  width:$icon-width;
  height:$icon-width;
  transition:300ms;
}

.fadeIn {
  opacity: 1;
  visibility: visible;
  transform:translateX(-2px);
  transition:300ms;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transform:translateX(2px);
  transition:300ms;
}

.fadeInVert {
  opacity: 1;
  visibility: visible;
  transform:translateY(-2px);
  transition:300ms;
}

.fadeOutVert {
  opacity: 0;
  visibility: hidden;
  transform:translateY(2px);
  transition:300ms;
}

//SUCCESS TYPES
.textSuccess {
  color:$darkGreen;
  font-weight:600;
  transition:300ms;
}

.titleSuccess {
  color:$darkGreen;
}

.buttonSuccess {
  background-color:$darkGreen;
  border-color:$darkGreen;
  color:white;
}

.formSuccess {
  input[type=text] {
    color:$darkGreen;
  }
  input {
    color:$darkGreen;
    border-color:$darkGreen;
  }
}

// ERROR TYPES

.textError {
  color:$darkRed;
  font-weight:600;
  transition:300ms;
}

.buttonError {
  background-color:$darkRed;
  border-color:$darkRed;
  color:white;
}

.formError {
  input[type=text] {
    color:$darkRed;
  }
  input {
    border-color:$darkRed;
  }
}

// INACTIVE TYPES

.buttonInactive {
  background-color:white;
  border-color:grey;
  color:grey;
}

.formInactive {
  input[type=text] {
    color:grey;
  }
  input {
    color:grey;
    border-color:grey;
  }
}

// ACTIVE TYPES

.spa-menu-test {
  width: 100%;
}

.spa-active {
  background-color: black;
  color:white;
}


// INFORMATION TYPES
.passwordQualityWrapper {
  @include fullWidthColumn
  margin-left:$icon-container-width;
}

.eye-icon {
  position:relative;
  left: 90%;
  top:-30px;
}

.hidePass {
  height:30px;
  border-bottom:2px solid black;
  width:0;
  transition: 300ms;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  overflow:hidden;
}

.showPass {
  height:30px;
  border-bottom:2px solid black;
  transition: 300ms;
  width:100px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  overflow:hidden;
}

// USER Graph
$graph-height:50vh;
$graph-width:40vw;
$y-axis-width:3vw;
$bar-width:3vw;

.paymentInfoWrapper {
  display:flex;
}
.titleButton {
  display:flex;
  justify-content:space-between;
  width:100%;
}

.vert-text { transform: rotate(-90deg); }

div {
  .graphWrapper {
    display:flex;
    .y-axis {
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      align-items:flex-end;
      height:$graph-height;
      width:$y-axis-width;
      p {
        color:grey;
        margin-right:10px;
      }
    }
    .y-title {
      display:flex;
      flex-direction:column;
      justify-content:center;
      height:$graph-height;
      width:$y-axis-width;
      p {
        display:flex;
        flex-direction:column;
        justify-content:center;
        font-weight:500;
      }
    }

    .graph {
      display:flex;
      justify-content:space-around;
      align-items:flex-end;

      width:$graph-width;
      height:$graph-height;
      border-left:1px dotted gray;
      border-bottom:1px dotted gray;

      div {
        background-color:black;
        height:0px;
        width:$bar-width;
      }
    }
  }

  .x-axis {
    display:flex;
    justify-content:space-around;
    align-items:center;
    align-content:center;
    width:$graph-width;
    margin-left:($y-axis-width*2);
    height:90px;
    div {
      height:100%;
      width:$bar-width;
      display:flex;
      justify-content:space-around;
      align-items:center;
      p {
        transform: rotate(-90deg);
        color:grey;
      }

      .dates {
        font-size:8px;
        transform:none;
      }
    }
  }
}
