
* {
  margin: 0px;
  padding: 0px;
  // border:.25px solid lightgrey;
}

// FONTS
$miniFont: 10px;
// COLORS
$darkGreen: #068721;
$darkRed:#9f2121;
$darkGrey:#282828;
$justGrey:#756F6F;
$lightGrey:lightGrey;
$lightBlue:#325872;
$almostBlack:#211A08;
$yellow:#E5CC61;
$white: #fff;


h1,h2,h3,h4,h5,h6,p,li,a,button,input,label {
  font-family:"Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

.a {
  display:flex;
  align-items:center;
  justify-content: center;
}

form {
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color:transparent;
  border:0;
  border-bottom:1px solid grey;
  padding-bottom:5px;
  margin-bottom:10px;
}

input {
  background-color:transparent;
  border:0;
  color:white;
}

input:focus {
  outline:none;
}

input::placeholder {
  color:white;
}

input[text] {
  color:white;
}
.small-text {    
    font-size:12px
}

body{
    border:0;
    margin:0
}

.page-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  background: #4a90e2; /* Old browsers */
  background: -moz-linear-gradient(top, #4a90e2 0%, #207cca 76%, #183968 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4a90e2 0%,#207cca 76%,#183968 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4a90e2 0%,#207cca 76%,#183968 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a90e2', endColorstr='#183968',GradientType=0 );
}

.search-wrapper {
  padding:2vw;
}

.widget-wrapper {
  display:flex;
  flex-direction:column;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.31);
  background-color:#4a90e2;
  border-radius:3px;
}

.forecast-wrapper{
  display:flex;
  justify-content: space-around;
  background-color:white;
  border-radius:0 0 3px 3px;
}

.small-card {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  padding:1vw;
  flex-grow:1;
}

.max-temp {
  font-weight:700;
}

.date {
  color:$justGrey;
  font-weight:100;
}

.thin-line {
  background-color: grey;
  width:1px;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.fa-search, .fa-times {
  color:$darkGrey;
  padding:3px;
}