
* {
  margin: 0px;
  padding: 0px;
  transition:200ms;
  // border:1px solid grey;
}

// FONTS
$miniFont: 10px;
// COLORS
$darkGreen: #068721;
$red:#ff6347;
$darkGrey:#282828;
$justGrey:#756F6F;
$lightGrey:lightGrey;
$lightBlue:#325872;
$almostBlack:#211A08;
$almostWhite:rgba(214, 214, 214, 0.295);
$white: papayawhip;
$lightPink:#FBD6DB;
$pink:#F1AAAF;


h1,h2,h3,h4,h5,h6,p,li,a,button,input,label {
  font-family: 'Open Sans', sans-serif;
  padding-left:8px; // going to regret this
  padding-right:8px;
  color:$red;
}

a {
  text-decoration: none;
  color:inherit;
}

.a {
  display:flex;
  align-items:center;
  justify-content: center;
}

form {
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color:transparent;
  border:0;
  border-bottom:1px solid grey;
  padding-bottom:5px;
  margin-bottom:10px;
}

input {
  background-color:transparent;
  border:0;
}

input:focus {
  outline:none;
}

input::placeholder {
  color:white;
}

input[text] {
  color:white;
}
.small-text {    
    font-size:12px;
    font-weight:100;
}

.small-icon {
  height:30px;
  width: 30px;
  margin:0;
  padding:0;
  
}
body{
    border:0;
    margin:0;
    background:$pink;
}

.page-wrapper {
  // width:100vw;
  // display:flex;
  // flex-direction:column;
  // align-content: center;
  // align-items: center;
  // background:$white;
  color:$pink;
}

.title-wrapper {
  width:100%;
  padding-top:3vh;
  padding-bottom:3vh;
  margin-bottom:2vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color:$white;
}



.album-wrapper {
  width:100%;
  max-width:900px;
  display:flex;
  flex-direction:column;
  align-content: center;
  align-items: center;
}

.title {
  text-align:center;
  padding:10px;
  letter-spacing: 3px;
  font-weight:200;
  color:$red;
}

.title-icon {
  width:100px;
  height:100px;
}

.title-wrapper:hover > h1 {
  color:$almostBlack;
}

.img {
  width:100%;
  overflow: hidden;
}


.margin-bottom {
  margin-bottom:20px;  
}

* {
  transition: 300ms;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$p-height: 60px;
$p-offset: 35px;
// $p-height: 15px;
// $p-offset: 8px;
$p-color: $lightPink;

%p {
  position: relative;
  width: 50vw;
  max-width: 1000px;
  min-width: 280px;
  height: $p-height;
  background: $p-color;
  margin-top: 5px;
  margin-right: $p-offset;
  transform: translateX($p-offset/2);
  opacity: 1;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}

%p:before {
  content: "";
  position: absolute;
  left: -1 * $p-offset;
  top: 0;
  border: 0 solid $p-color;
  border-top-width: $p-height;
  border-left-width: $p-offset;
  border-left-color: transparent;
}

%p:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border: 0 solid $p-color;
  border-bottom-width: $p-height;
  border-right-width: $p-offset;
  border-right-color: transparent;
}

.album-title-wrapper {
  display:flex;
  align-items: center;
  // margin-left:$p-offset;
  // margin-right:$p-offset;
}

.line {
  height:1px;
  background:$pink;
  flex-grow:1;
}

.album-title {
  text-align:left;
  padding:2px;
  letter-spacing: 2px;
  font-weight:100;
  color:$pink;
  font-size:10px;
}

.description {
  font-weight:12px;
  color:$lightPink;
  margin-left:$p-offset;
  margin-right:$p-offset;
  width:40vw;
  min-width:250px;
}


.wrapper {
  @extend %p;
}

.wrapper-flip:before {
  border-top-width: 0px;
  border-bottom-width: $p-height;
}

.wrapper-flip:after {
  border-bottom-width: 0px;
  border-top-width: $p-height;
}

.wrapper-flip {
  @extend %p;
}

.photo-container {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width:1000px;
}

.revert-button {
  z-index: 10;
}
















