* {
  margin: 0px;
  padding: 0px;
  transition:200ms;
  // border:1px solid grey;
}

.scroll-lock {
  overflow:hidden;
}

// FONTS
$miniFont: 10px;
// COLORS
$darkGreen: #068721;
$red:#ff6347;
$darkGrey:#282828;
$justGrey:#756F6F;
$lightGrey:lightGrey;
$lightBlue:#325872;
$almostBlack:#211A08;
$almostWhite:rgba(214, 214, 214, 0.295);
$white: hsl(37, 100%, 92%);
$whiteGhost: #efdcbe;
$lightPink:#FBD6DB;
$pink:#F1AAAF;
$yellow:#FDCE6C;


h1,h2,h3,h4,h5,h6,p,li,a,button,input,label {
  font-family: 'Open Sans', sans-serif;
  padding-left:8px; // going to regret this
  padding-right:8px;
  color:$red;
}

a {
  text-decoration: none;
  color:inherit;
}

.a {
  display:flex;
  align-items:center;
  justify-content: center;
}

form {
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color:transparent;
  border:0;
  border-bottom:1px solid grey;
  padding-bottom:5px;
  margin-bottom:10px;
}

input {
  background-color:transparent;
  border:0;
}

input:focus {
  outline:none;
}

input::placeholder {
  color:white;
}

input[text] {
  color:white;
}
.small-text {    
    font-size:12px;
    font-weight:100;
}

.small-icon {
  height:30px;
  width: 30px;
  margin:0;
  padding:0;
  
}
body{
    border:0;
    margin:0;
    background:$white;
}

// HOME PAGE 


.home {
  background-color: $yellow;
  height:100vh;
  width:100vw;
  display:flex;
}

.home-image-wrapper {
  height:100%;
  display:flex;
  align-content: center;
  justify-content: center;
  align-items:center;
  flex:0 1 auto;
}

.home-image {
  width:90vw;
  max-height:100%;
}

.home-title {
  position:fixed;
  top:40%;
  right:-220px;
  transform: rotate(-90deg);
  font-size:200px;
  color: black;
  font-family: 'Roboto'
}

@media all and (max-height:600px) {
  .home-title {
    top:32%;
    right:-210px;
    font-size:180px;
  }
}

.home-title-period {
  color:#90B193;
}

.menu-icon {
  position:fixed;
  top:20px;
  left:20px;
  width:50px;
  stroke: #EC7724;
  z-index: 200;
}

.menu-icon-open {
  position:fixed;
  top:20px;
  left:20px;
  width:50px;
  transform: translate(30vw);
  stroke: white;
  z-index: 200;
}

.menu-svg {
  stroke: #EC7724;
}

$multiplier: 1.5;

.a, .b, .c {
  opacity: 1;
  stroke: #EC7724;
}

@keyframes flip {
  15% {
    opacity: 0.8;
    transform: translateZ(0) scale(0.8) rotateZ(0);
  }

  30% {
    transform: translateZ(0) scale(0.8) rotateZ(0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) scale(1) rotateZ(90deg * 4.5);
  }
}

#hamburger {
  cursor: pointer;
  display: inline-block;
  transform: translateZ(0) scale(1);
  transition: 900ms transform;
  stroke:#EC7724;
  
  line {
    transition: (0.3s * $multiplier) all;
  }

  &.open {
    animation: (900ms * $multiplier) flip;
    animation-fill-mode: forwards;
    

    .a {
      transform: translate(0, 7px);
    }

    .b {
      transform: translate(20px, -4px) rotate(90deg);
      transition: (0.3s * $multiplier) transform (0.4s * $multiplier), (0.3s * $multiplier) #fff;
      stroke:white;
    }

    .c {
      transform: translate(0, -7px);
      stroke:white;
    }

  }
}

.curtain {
  z-index:50;
  background-color:#211a08c2;
  position:fixed;
  width:100vw;
  height:100vh;
  cursor:pointer;
  top:0;
}

.left-menu-wrapper{
  height:100vh;
  width:30vw;
  z-index:100;
  position: fixed;
  top:0;
  left:0;
  transition:300ms;
  transform:translate(-30vw);
  background-color:#edc188;
  display:flex;
  align-items:center;
}

.menu-icons-wrapper {
  height:100vh;
  width:100%;
  display:flex;
  flex-direction:column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.menu-icons {
  width:60px;
  stroke-width:24px;
  stroke: white;
  fill:transparent;
  cursor:pointer;
}

.current-menu-icon {
  stroke:#90b193;
}

// RIGHT MENU 

.right-menu-wrapper{
  height:100%;
  width:30vw;
  z-index:100;
  position: fixed;
  top:0;
  right:0;
  transition:300ms;
  transform:translate(30vw);
  background-color:#90b193;
}

.menu-open {
  transform:translate(0)
}

.r-menu-back {
  position:absolute;
  top:20px;
  left:20px;
  width:50px;
}

.r-menu-back-icon {
  stroke:#90b193;
  width:20px;
  stroke-width:2px;
  padding:1px;
}

$dialD: 300px;
$itemD:$dialD/10;
$corner: $dialD/7.6;

.dial {
	background:transparent;
	height:$dialD;
	width:$dialD;
	border-radius:100%;
	position:relative;
	// right:-$dialD/3.5;
	// bottom:-$dialD/6;
}

.item {
	width:$itemD;
	height:$itemD;
	// background:tomato;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.showDial {
	background:#52525250;
	height:$dialD/1.5;
	width:$dialD/1.5;
	border-radius:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
  margin:auto;
  display:flex;
	justify-content:center;
	align-items:center;
}


.r-menu-icons {
  width:60px;
  stroke-width:15px;
  stroke: #3a673a;
  fill:transparent;
  cursor:pointer;
}

.selected-mini {
  background-color:white;
  border-radius:100%;
  padding:3px;
}

.selected {
  width:40%;
  stroke-width:8px;
  stroke: #3a673a;
  fill:transparent;
  cursor:pointer;
}

.selected-repository {
  width:70%;
  height:50%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center; 
}

.r-menu-titles {
  text-align:center;
  padding:10px;
  letter-spacing: 3px;
  font-weight:200;
  color:#3a673a;
  margin-top:10px;
}


.di1 {
	position:absolute;
	top:$corner;
	left:$corner;
}


.di2 {
	position:absolute;
	left: 0;
	right:0;
	margin-left: auto;
	margin-right: auto;

}

.di3 {
	position:absolute;
	top:$corner;
	right:$corner;
}

.di4 {
	position:absolute;
	right:0;
	top: 0;
	bottom:0;
	margin-top: auto;
	margin-bottom: auto;
}

.di5 {
	position:absolute;
	bottom:$corner;
	right:$corner;
}

.di6 {
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
}

.di7 {
	position:absolute;
	bottom:$corner;
	left:$corner;
}

.di8 {
	position:absolute;
	left:0;
	top: 0;
	bottom:0;
	margin-top: auto;
	margin-bottom: auto;
}

@media all and (max-width:1000px) {
  .left-menu-wrapper{
    width:50vw;
    height:100vh;
    transform:translate(-50vw);
  }
  .right-menu-wrapper{
    width:50vw;
    transform:translate(50vw);
  }
  .menu-open {
    transform:translate(0)
  }

  .menu-icon-open {
    transform: translate(0vw);
  }
}

@media all and (max-width:600px) {
  .left-menu-wrapper{
    width:100vw;
    height:100vh;
    transform:translate(-100vw);
  }
  .right-menu-wrapper{
    width:100vw;
    transform:translate(100vw);
  }
  .menu-open {
    transform:translate(0)
  }

  .menu-icon-open {
    transform: translate(0vw);
  }
}


.skinny-stroke {
  stroke-width:9px;  
  width:70px;
}

.page-wrapper {
  color:$pink;
}

.title-wrapper {
  width:100%;
  padding-top:3vh;
  padding-bottom:3vh;
  margin-bottom:2vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color:$white;
}


.title {
  text-align:center;
  padding:10px;
  letter-spacing: 3px;
  font-weight:200;
  color:$red;
}

.title-icon {
  width:100px;
  height:100px;
}

.title-wrapper:hover > h1 {
  color:$almostBlack;
}

.img {
  max-width:100%;
  max-height:100%;
  width:auto;
  height:auto;
  display:flex;
  flex-direction :column;
  justify-content : center;
  align-items : center;
}

.margin-bottom {
  margin-bottom:20px;  
}


.page-wrapper {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

$p-height: 60px;
$p-offset: 35px;
// $p-height: 15px;
// $p-offset: 8px;
$p-color: $lightPink;

%p {
  position: relative;
  width: 50vw;
  max-width: 1000px;
  min-width: 240px;
  height: $p-height;
  background: $p-color;
  margin-top: 5px;
  margin-right: $p-offset;
  transform: translateX($p-offset/2);
  opacity: 1;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

%p:before {
  content: "";
  position: absolute;
  left: -1 * $p-offset;
  top: 0;
  border: 0 solid $p-color;
  border-top-width: $p-height;
  border-left-width: $p-offset;
  border-left-color: transparent;
}

%p:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border: 0 solid $p-color;
  border-bottom-width: $p-height;
  border-right-width: $p-offset;
  border-right-color: transparent;
}

.album-wrapper {
  width: 50vw;
  max-width: 1000px;
  min-width: 240px;
  max-width:900px;
  overflow:hidden;
  display:flex;
  flex-direction:row;
  align-content: center;
  align-items: center;
  margin-left:$p-offset;
}
.album-wrapper-flip {
  width: 50vw;
  max-width: 1000px;
  min-width: 240px;
  max-width:900px;
  overflow:hidden;
  display:flex;
  flex-direction:row;
  align-content: center;
  align-items: center;
}

.photo-container-medium {
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-height:50vh;
  margin-top:15px;
  margin-bottom:15px;
  overflow:hidden;
  position: relative;
}


.expand-icon-wrapper {
  position:absolute;
  right:0;
  top:0;
  border-top: 50px solid $red;
  border-left:50px solid transparent;
  width:0px;
  height:0px;
  transform:translate(15px, -15px);
}


.expand-icon-wrapper-closed {
  position:absolute;
  right:0;
  top:0;
  border-top: 50px solid $red;
  border-left:50px solid transparent;
  width:0px;
  height:0px;
  transform:translate(30px, -30px);
}
.album-info {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  margin-bottom:15px;
}

.album-description {
  flex:.4;
  //border-right:1px solid $red;
}

@media all and (max-width:750px) {
  .album-description {
    flex:1;
  }
}

.centered {
  height:100%;
  width:25px;
  display: flex;
  justify-content: center;
}

.no-dot {
  border-radius:50px;
  width:0px;
  height:0px;
  background-color:$pink;
  transition:200ms;
  position: relative;
  left:60px;
  // transition-delay:500ms;
}
.small-dot {
  border-radius:50px;
  width:20px;
  height:20px;
  background-color:$red;
  transition:200ms;
  transition-delay:000ms;
  position: relative;
  left:60px;
}

@media all and (max-width: 390px) {
  .no-dot {
    border-radius:50px;
    width:0px;
    height:0px;
    background-color:$pink;
    transition:200ms;
    position: relative;
    left:40px;
    z-index:2;
    // transition-delay:500ms;
  }
  .small-dot {
    border-radius:50px;
    width:10px;
    height:10px;
    background-color:$red;
    transition:200ms;
    transition-delay:000ms;
    position: relative;
    left:40px;
    z-index:2;
  }
}

.album-title-wrapper {
  display:flex;
  align-items: center;
  // margin-left:$p-offset;
  // margin-right:$p-offset;
}

.line {
  height:1px;
  background:$red;
  flex-grow:1;
  opacity:.2
}

.spacer {
  height:1px;
  background:transparent;
  flex-grow:1;
}

.album-title {
  font-family: 'Crimson Text', serif;
  text-align:left;
  text-transform:uppercase;
  padding:2px;
  letter-spacing: 2px;
  font-weight:100;
  color:$pink;
  font-weight:800;
  font-size:10px;
}

@media all and (max-width:750px) {
  .album-title {
    color:$red;
  }
}

.album-title-selected {
  color:$red;
}

.description {
  font-weight:12px;
  color:$lightPink;
  margin-left:$p-offset;
  margin-right:$p-offset;
  width:40vw;
  min-width:250px;
}


.wrapper {
  @extend %p;
}


.wrapper:hover > .album-title-wrapper > .album-title,
.wrapper-flip:hover > .album-title-wrapper > .album-title {
  color:$red;
  cursor:pointer;
}

.wrapper-flip:before {
  border-top-width: 0px;
  border-bottom-width: $p-height;
}

.wrapper-flip:after {
  border-bottom-width: 0px;
  border-top-width: $p-height;
}

.wrapper-flip {
  @extend %p;
}

.photo-container {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:2vh;
  width: 50vw;
  max-width: 1000px;
  min-width: 260px;
}


// LIGHTBOX
.lightbox-wrapper {
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: space-around;
  align-content:center;
  align-items:center;
  background-color: $white;
  z-index:100;
  overflow:hidden;
}

.lightbox-photo-wrapper {
  position:absolute;
  left:70px;
  top: 70px;
  right:70px;
  bottom:70px;
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

.lightbox-left-paddle {
  position:absolute;
  left:0;
  top:70px;
  bottom: 70px;
  width:70px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.left-triangle {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid $red;
	border-bottom: 20px solid transparent;
}

.lightbox-right-paddle {
  position:absolute;
  right:0;
  top:70px;
  bottom: 70px;
  width:70px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.right-triangle {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid $red;
	border-bottom: 20px solid transparent;
}

.lightbox-photo-wrapper:hover ~ .revert {
  display: none;
}


@media all and (max-width:750px) {
  .lightbox-photo-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.lightbox-img {
  display:flex;
  flex-direction :column;
  justify-content : center;
  align-items : center;
  max-width: 100%; 
  max-height: 100%;
  width: auto;
  height: auto;
  cursor:pointer;
}


.lightbox-title-wrapper {
  position:absolute; 
  top:0;
  left:0;
}

.svg-icon {
  fill:none;
  stroke:$red;
  stroke-miterlimit: 10;
  stroke-width: 7px;
  transition: all 0.4s;
}

.lightbox-icon {
  width:50px;
  margin:10px;
  transition: all 0.4s;
  stroke-dasharray: 0, 600;
  stroke-dashoffset: -100;
}

.lightbox-icon-show {
  width:50px;
  margin:10px;
  stroke-dasharray: 1000, 0;
  stroke-dashoffset: 0;
  transition: all 0.4s;
}

.lightbox-icon-show:hover {
  stroke-width:14px;
  transition: all 0.2s;
}

.aline {
  stroke:$lightBlue;
}

.x-icon {
  stroke:$lightBlue;
  width:40px;
  stroke-dasharray: 0, 20;
  stroke-dashoffset:-6.5;
  position:absolute;
  right:0;
  top:0;
  transition:200ms;
  cursor:pointer;
}

// .lightbox-photo-wrapper:hover ~ .x-icon {
//     stroke-dasharray:14.5, 20;
//   stroke-dashoffset:0;
// }

.x-icon-hover {
  stroke:$lightBlue;
  width:40px;
  stroke-dasharray:14.5, 20;
  stroke-dashoffset:0;
  position:absolute;
  right:0;
  top:10px;
  transition:200ms;
  cursor:pointer;
}

.bold-stroke {
  stroke-width:1.5px;
  stroke:$red;
}


.dot-box-wrapper {
  align-self:flex-end;
  display:flex;
  align-items: center;
  align-content:center;
  justify-content: space-between;
  margin-bottom:15px;
}

.lightbox-dot {
  border-radius:30px;
  width:15px;
  height:15px;
  border:1px solid $red;
  background-color:transparent;
  transition:200ms;
  transition-delay:000ms;

  margin-left:5px;
  margin-right:5px;
  transition:200ms;
}

.lightbox-dot:hover {
  background:#e5a69b;
  transition:200ms;
}


// SHAPELY

.shapely-wrapper {
  width:100vw;
  height:100vh;
  background-color:#ffefd5;
  overflow:hidden;
}

.home-shape {
  width:100%;
}

.strech-test {
  width:100%;
}