
* {
  margin: 0px;
  padding: 0px;
}

// FONTS
$miniFont: 10px;
// COLORS
$darkGreen: #068721;
$darkRed:#9f2121;
$darkGrey:#282828;
$justGrey:#756F6F;
$lightGrey:lightGrey;
$lightBlue:#325872;
$almostBlack:#211A08;
$white: #fff;


h1,h2,h3,h4,h5,h6,p,li,a,button,input,label {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

.a {
  display:flex;
  align-items:center;
  justify-content: center;
}

form {
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color:transparent;
  border:0;
  border-bottom:1px solid grey;
  padding-bottom:5px;
  margin-bottom:10px;
}

input {
  background-color:transparent;
  border:0;
  color:white;
}

input:focus {
  outline:none;
}

input::placeholder {
  color:white;
}

input[text] {
  color:white;
}
.small-text {    
    font-size:12px;
    font-weight:100;
}

body{
    border:0;
    margin:0
}