<div class="full-page">
  <div class="flex column add-alarm-form">
    <h3>add alarm</h3>
    <form action="/app/accounts/{{email}}/alarms" method="post">
      <p>time</p>
        <input
        name="time"
        class="big-form-item"
        type="text"
        placeholder="06:00"
        value="06:00"
        />
      <p>alarm title</p>
      <input
        name="title"
        class="big-form-item"
        type="text"
        placeholder="work week"
        value="work week"
        />

     <button class="button dark-button" type="submit"> submit </button>
   </form>
  <p class="formErrorReport">{{ dbError }}</p>
  </div>
</div>
{{!-- <script src="/behavior/alarm-action.js"></script> --}}
